@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --color-white: #ffffff;
  --color-main: #111111;
  --color-light-gray: #DBE3F5;
  --color-text: #626262;
  --color-accent: #F4303C;
  --color-blue: #3B5999;
  --color-light-blue: #55ACEE;
  --color-red: #DD4B39;
  --color-yellow: #FFBE00;
  --color-green: #00824B;
  --color-orange: #EF962D;
  --color-sale: #69864D;
  --color-new: #CFA93F;
  --color-top: #864D7D;
  --font-standard: "Mulish", sans-serif;
  --color-system-error: #EF4444;
  --color-system-success: #22C55E;
  --color-system-warning: #FFBA08;
  --color-system-info: #4C82F7;
  --color-danger: #F5D7DA;
  --color-gray-100: #f3f6ff;
  --color-gray-200: #eff2fc;
  --color-gray-300: #e2e5f1;
  --color-gray-400: #d4d7e5;
  --color-gray-500: #b4b7c9;
  --color-gray-600: #9397ad;
  --color-gray-700: #565973;
  --color-gray-800: #33354d;
  --color-gray-900: #0B0F19;
}

h1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 120% !important;
  font-weight: 800;
  color: var(--color-main) !important;
  font-size: 2em !important;
}

h2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 120% !important;
  font-weight: 800;
  color: var(--color-main) !important;
  font-size: 1.375em !important;
}

h3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 120% !important;
  font-weight: 800;
  color: var(--color-main) !important;
  font-size: 1.25em !important;
}

h4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 120% !important;
  font-weight: 800;
  color: var(--color-main) !important;
  font-size: 1.125em !important;
}

h5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 120% !important;
  font-weight: 800;
  color: var(--color-main) !important;
  font-size: 1em !important;
}

.font-16 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 170% !important;
  font-size: 1em;
}

.font-14 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 150% !important;
  font-size: 0.875em;
}

*, *::before, *::after {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-optical-sizing: auto;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-900);
  background-color: var(--color-white);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.collapse {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  padding: 12px 25px;
  background-color: transparent;
  color: var(--color-gray-900);
  border: none;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  color: var(--color-main);
}
.btn i {
  margin-right: 8px;
}

.btn-main {
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
  color: var(--color-white);
}
.btn-main:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-white);
}

.btn-white {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
}
.btn-white:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-white);
}

textarea,
select,
input:not([type=checkbox]) {
  min-width: 300px;
  font-size: 16px;
  font-family: "manrope";
  font-weight: 400 !important;
  padding: 10px 16px;
  border-radius: 999px;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
  color: var(--color-main);
}
textarea::placeholder,
select::placeholder,
input:not([type=checkbox])::placeholder {
  opacity: 0.5;
}

.input-search-group {
  position: relative;
}
.input-search-group input {
  position: relative;
  padding-right: 40px;
}
.input-search-group i {
  position: absolute;
  top: 14px;
  right: 1rem;
}

.select {
  position: relative;
  min-width: 300px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.select .selected {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
}
.select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  z-index: 10;
}
.select .select-options .option {
  padding: 10px;
  cursor: pointer;
}
.select .select-options .option:hover {
  background-color: var(--color-gray-400);
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
}

form {
  width: 100%;
  display: grid;
  font-size: 16px;
  font-weight: 400 !important;
}
form .input-group {
  display: grid;
  position: relative;
  border: 1px solid var(--color-light-gray);
  border-radius: 999px;
}
form .input-group input {
  padding: 16px;
  border: none;
  background-color: transparent;
}
form .input-group label {
  position: absolute;
  top: 0;
  left: 25px;
  margin-top: -10px;
  background-color: var(--color-white);
  font-size: 12px;
}
form .checkbox-group input[type=checkbox] {
  margin-right: 10px;
}
form .checkbox-group .input-group-checkbox {
  display: flex;
  align-items: center;
}
form button {
  font-size: 16px;
  font-weight: 400 !important;
  width: 100%;
}
form .input-validation-error {
  border-color: var(--color-system-error);
}
form .field-validation-error {
  font-size: 14px;
  font-weight: 400 !important;
  color: var(--color-system-error);
  padding: 2px 5px;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  color: var(--color-theme);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.alert {
  border-radius: 8px;
  font-size: 1rem;
  padding: 12px 1rem;
  display: block;
}
.alert .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-dark {
  background-color: var(--color-gray-900);
  color: var(--color-gray-900);
}

.alert-gray {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}

.alert-info {
  background-color: var(--color-info);
  color: var(--color-gray-800);
}

.alert-success {
  background-color: var(--color-success);
  color: var(--color-gray-800);
}

.alert-warning {
  background-color: var(--color-warning);
  color: var(--color-gray-800);
}

.alert-danger {
  background-color: var(--color-danger);
  color: var(--color-gray-800);
}

.homepage .container {
  display: grid;
  grid-gap: 20px;
}
.homepage .container .header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
.homepage .container .header .total-cost {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 10px;
  text-align: center;
  width: 25px;
  height: 25px;
}
.homepage .container .header .total-cost .price {
  position: absolute;
  background-color: var(--color-accent);
  right: 15px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.homepage .container .header .total-cost i {
  font-size: 20px;
}
.homepage .container .bag-shop {
  position: relative;
}
.homepage .container .swiper {
  width: 100%;
  height: 100%;
}
.homepage .container .mySwiper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 105px;
  overflow: hidden;
}
.homepage .container .mySwiper .swiper-slide {
  background-color: var(--color-light-gray);
  text-align: center;
  line-height: 170px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 8px;
}
.homepage .container .content {
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.homepage .container .content .promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage .container .content .promotion h2 {
  color: white;
}
.homepage .container .content a {
  width: 150px;
}
.homepage .container .feature-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.homepage .container .feature-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.homepage .container .feature-content .card-img {
  background-color: var(--color-light-gray);
  height: 170px;
  width: 160px;
  position: relative;
}
.homepage .container .feature-content .card-img .bag-heart {
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.homepage .container .bestseller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.homepage .container .bestseller-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.homepage .container .bestseller-content .bestseller-card {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  grid-template-areas: "img info heart";
  gap: 10px;
}
.homepage .container .bestseller-content .bestseller-card .bestseller-img {
  background-color: var(--color-light-gray);
}
.homepage .container .bestseller-content .bestseller-card .bestseller-img {
  grid-area: img;
}
.homepage .container .bestseller-content .bestseller-card .bestseller-feature {
  grid-area: info;
}
.homepage .container .bestseller-content .bestseller-card .bestseller-heart {
  grid-area: heart;
}
.homepage .container .bestseller-content .rating {
  color: var(--color-yellow);
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
.signup .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 20px 0;
}
.signup .container .top-nav {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "back title void";
}
.signup .container .top-nav i {
  display: flex;
  grid-area: back;
  align-items: center;
  justify-content: flex-start;
}
.signup .container .top-nav h4 {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
.signup .container h1 {
  padding-top: 50px;
  padding-bottom: 15px;
}
.signup .container .signup-form {
  width: 300px;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "button";
}
@media (min-width: 992px) {
  .signup .container .signup-form {
    width: 650px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "button button";
  }
}
.signup .container .signup-form .form-firstname {
  grid-area: firstname;
}
.signup .container .signup-form .form-lastname {
  grid-area: lastname;
}
.signup .container .signup-form .form-email {
  grid-area: email;
}
.signup .container .signup-form .form-password {
  grid-area: password;
}
.signup .container .signup-form .form-confirm {
  grid-area: confirm;
}
.signup .container .signup-form button {
  grid-area: button;
}
.signup .container .have-account {
  color: var(--color-text);
}
.signup .container .have-account a {
  color: var(--color-main);
}
.signup .container .socials {
  display: flex;
  gap: 20px;
}
.signup .container .socials .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  text-decoration: none;
}
.signup .container .socials .facebook i {
  color: var(--color-blue);
}
.signup .container .socials .facebook:hover, .signup .container .socials .facebook:active, .signup .container .socials .facebook:focus,
.signup .container .socials .facebook .active {
  text-decoration: none;
}
.signup .container .socials .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  text-decoration: none;
}
.signup .container .socials .twitter i {
  color: var(--color-light-blue);
}
.signup .container .socials .twitter:hover, .signup .container .socials .twitter:active, .signup .container .socials .twitter:focus,
.signup .container .socials .twitter .active {
  text-decoration: none;
}
.signup .container .socials .google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  text-decoration: none;
}
.signup .container .socials .google i {
  color: var(--color-red);
}
.signup .container .socials .google:hover, .signup .container .socials .google:active, .signup .container .socials .google:focus,
.signup .container .socials .google .active {
  text-decoration: none;
}

.profile-page .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}
.profile-page .container .profile {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 24px;
  padding: 40px 0;
}
.profile-page .container .profile .profile-img {
  position: relative;
  display: flex;
  align-self: end;
  justify-self: center;
  align-content: center;
  height: 182px;
  width: 182px;
  border: solid 8px var(--color-light-gray);
  border-radius: 100%;
}
.profile-page .container .profile .profile-img .edit {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: center;
  padding: 25px;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background-color: var(--color-light-gray);
}
.profile-page .container .profile .profile-img .edit:hover {
  cursor: pointer;
}
.profile-page .container .profile .profile-info {
  align-self: end;
  text-align: center;
}
.profile-page .container .list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: var(--color-light-gray);
  gap: 1px;
  padding: 1px 0;
}
.profile-page .container .list .option {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 12px;
  background-color: var(--color-white);
}
.profile-page .container .list .option:hover {
  cursor: pointer;
  background-color: var(--color-gray-100);
  text-decoration: none;
}
.profile-page .container .list .option .info {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 18px;
}
.profile-page .container .list .option .info .image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-light-gray);
  height: 18px;
  width: 18px;
  padding: 25px;
  border-radius: 100%;
}
.profile-page .container .list .option .info h5 {
  margin: 0;
}
.profile-page .container .list .option .chevron {
  justify-self: end;
}

.edit-account .container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 32px;
}
.edit-account .container .profile-img {
  position: relative;
  display: flex;
  align-self: end;
  justify-self: center;
  align-content: center;
  height: 182px;
  width: 182px;
  border: solid 8px var(--color-light-gray);
  border-radius: 100%;
  margin-top: 91px;
}
.edit-account .container .profile-img .edit {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: center;
  padding: 25px;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background-color: var(--color-light-gray);
}
.edit-account .container .profile-img .edit:hover {
  cursor: pointer;
}
.edit-account .container .form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.edit-account .container .form button {
  padding: 16px;
}
.edit-account .container .form button:hover {
  cursor: pointer;
}

.address-page .container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}
.address-page .container .address-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 42px 24px;
  background-color: var(--color-light-gray);
  gap: 1px;
}
.address-page .container .address-list .address {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  gap: 12px;
  background-color: var(--color-white);
  padding: 12px 18px;
}
.address-page .container .address-list .address:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-gray-200);
}
.address-page .container .address-list .address:hover .address-icon {
  border-color: var(--color-gray-700);
}
.address-page .container .address-list .address .address-icon {
  display: flex;
  justify-self: start;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-light-gray);
  border-radius: 100%;
  padding: 12px;
  transition: border-color 0.25s ease-in-out;
}
.address-page .container .address-list .address .info {
  display: flex;
  flex-direction: column;
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 150% !important;
  font-size: 0.875em;
}
.address-page .container .add-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 150% !important;
  font-size: 0.875em;
}
.address-page .container .add-address .add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-light-gray);
  border-radius: 100%;
  padding: 12px;
}
.address-page .container .add-address .add-button:hover {
  background-color: var(--color-green);
  border-color: var(--color-gray-700);
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
.address-page .container .add-address .add-button i {
  width: 16px;
  height: 16px;
}
.address-page .container .no-addresses {
  padding: 12px;
  margin: 12px;
  background-color: var(--color-gray-200);
}

.add-address-page {
  margin-top: 96px;
}
.add-address-page .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.add-address-page .container .form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.add-address-page .container .form button {
  padding: 16px;
}
.add-address-page .container .form button:hover {
  cursor: pointer;
}
.add-address-page .container .cancel .cancel-button {
  border: solid 1px var(--color-gray-800);
  color: var(--color-black);
}
.add-address-page .container .cancel .cancel-button:hover {
  background-color: var(--color-gray-800);
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
}

.edit-address {
  margin-top: 96px;
}
.edit-address .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.edit-address .container .form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.edit-address .container .form button {
  padding: 16px;
}
.edit-address .container .form button:hover {
  cursor: pointer;
}
.edit-address .container .delete .delete-button {
  border: solid 1px var(--color-red);
  color: var(--color-red);
}
.edit-address .container .delete .delete-button:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
}
.edit-address .container .delete div {
  color: var(--color-red);
  padding-left: 12px;
}

.signin .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 20px 0;
}
.signin .container .top-nav {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "back title void";
}
.signin .container .top-nav i {
  display: flex;
  grid-area: back;
  align-items: center;
  justify-content: flex-start;
}
.signin .container .top-nav h4 {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
.signin .container h1 {
  padding-top: 50px;
  padding-bottom: 15px;
}
.signin .container .text {
  padding: 0 0 20px 0;
}
.signin .container .signin-form {
  width: 300px;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "alert" "email" "password" "rememberforgot" "button";
}
@media (min-width: 992px) {
  .signin .container .signin-form {
    width: 650px;
  }
}
.signin .container .signin-form .alert {
  grid-area: alert;
  display: flex;
  justify-content: center;
  align-content: center;
}
.signin .container .signin-form .form-email {
  grid-area: email;
}
.signin .container .signin-form .form-password {
  grid-area: password;
}
.signin .container .signin-form .form-remember-forgot {
  grid-area: rememberforgot;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin .container .signin-form button {
  grid-area: button;
}
.signin .container .have-account {
  color: var(--color-text);
}
.signin .container .have-account a {
  color: var(--color-main);
}
.signin .container .socials {
  display: flex;
  gap: 20px;
}
.signin .container .socials .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  text-decoration: none;
}
.signin .container .socials .facebook i {
  color: var(--color-blue);
}
.signin .container .socials .facebook:hover, .signin .container .socials .facebook:active, .signin .container .socials .facebook:focus,
.signin .container .socials .facebook .active {
  text-decoration: none;
}
.signin .container .socials .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  text-decoration: none;
}
.signin .container .socials .twitter i {
  color: var(--color-light-blue);
}
.signin .container .socials .twitter:hover, .signin .container .socials .twitter:active, .signin .container .socials .twitter:focus,
.signin .container .socials .twitter .active {
  text-decoration: none;
}
.signin .container .socials .google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  text-decoration: none;
}
.signin .container .socials .google i {
  color: var(--color-red);
}
.signin .container .socials .google:hover, .signin .container .socials .google:active, .signin .container .socials .google:focus,
.signin .container .socials .google .active {
  text-decoration: none;
}

.forgotpassword .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 20px;
}
.forgotpassword .container .top-nav {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "back title void";
}
.forgotpassword .container .top-nav i {
  display: flex;
  grid-area: back;
  align-items: center;
  justify-content: flex-start;
}
.forgotpassword .container .top-nav h4 {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
.forgotpassword .container form {
  width: 300px;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "email" "button";
}
@media (min-width: 768px) {
  .forgotpassword .container form {
    width: 650px;
  }
}
.forgotpassword .container form .form-email {
  grid-area: email;
}
.forgotpassword .container form button {
  grid-area: button;
}

.accountcreated .container {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.accountcreated .container .top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accountcreated .container .createduser-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.accountcreated .container .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.forgotpassword-verification .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 20px;
}
.forgotpassword-verification .container .top-nav {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "back title void";
}
.forgotpassword-verification .container .top-nav a {
  display: flex;
  grid-area: back;
  align-items: center;
  justify-content: flex-start;
}
.forgotpassword-verification .container .top-nav h4 {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
.forgotpassword-verification .container .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.forgotpassword-verification .container .content .forgotpassword-verification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.forgotpassword-verification .container .content .forgotpassword-verification-form .inputs {
  display: flex;
  gap: 10px;
}
.forgotpassword-verification .container .content .forgotpassword-verification-form .inputs input {
  text-align: center;
  min-width: 60px !important;
  width: 60px;
  height: 60px;
}
.forgotpassword-verification .container .content .forgotpassword-verification-form .inputs input::-webkit-outer-spin-button,
.forgotpassword-verification .container .content .forgotpassword-verification-form .inputs ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reset-password .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 20px 0;
  gap: 20px;
}
.reset-password .container .top-nav {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "back title void";
}
.reset-password .container .top-nav i {
  display: flex;
  grid-area: back;
  align-items: center;
  justify-content: flex-start;
}
.reset-password .container .top-nav h4 {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
.reset-password .container .reset-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "new" "confirm" "button";
  gap: 10px;
}
.reset-password .container .reset-form .form-new {
  grid-area: new;
}
.reset-password .container .reset-form .form-confirm {
  grid-area: confirm;
}
.reset-password .container .reset-form button {
  grid-area: button;
}

.verification .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 20px;
}
.verification .container .top-nav {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "back title void";
}
.verification .container .top-nav i {
  display: flex;
  grid-area: back;
  align-items: center;
  justify-content: center;
}
.verification .container .top-nav h4 {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
.verification .container .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.verification .container .content .verification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.verification .container .content .verification-form .inputs {
  display: flex;
  gap: 10px;
}
.verification .container .content .verification-form .inputs input {
  text-align: center;
  min-width: 60px !important;
  width: 60px;
  height: 60px;
}
.verification .container .content .verification-form .inputs input::-webkit-outer-spin-button,
.verification .container .content .verification-form .inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.verification .container .content .verification-form p a {
  color: var(--color-main);
}

.welcome-manero {
  background-color: var(--color-light-gray);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.welcome-manero .container {
  border-radius: 50%;
  border: 2px solid var(--color-white);
  width: 415px;
  height: 415px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-manero .container .content {
  background-color: var(--color-white);
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.welcome-manero .container .content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
  gap: 10px;
}
.welcome-manero .container .content button {
  width: 280px;
}
.welcome-manero .container .content a {
  width: 280px;
}
.welcome-manero .container .content .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.welcome-manero .container .content .dot .active, .welcome-manero .container .content .dot:hover {
  background-color: #717171;
}

.category-boxes .container {
  background-color: #DBE3F5;
  height: 100%;
  width: 100%;
}
.category-boxes .container .section-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category-boxes .container .section-small .box-small {
  height: 250px;
  width: 100%;
  background-color: #171C31;
  opacity: 0.6;
  border: 1px solid white;
}
.category-boxes .container .section-small .box-small .categoryName {
  color: white !important;
  margin-top: 190px;
  margin-left: 30px;
}
.category-boxes .container .sections-large {
  display: grid;
  grid-template-columns: 1fr;
}
.category-boxes .container .sections-large .box-large {
  height: 250px;
  width: 100%;
  background-color: #171C31;
  opacity: 0.6;
  border: 1px solid white;
}
.category-boxes .container .sections-large .box-large .categoryName {
  color: white !important;
  margin-top: 190px;
  margin-left: 30px;
}

.product {
  margin: 50px 0;
}
.product .slider .picture {
  height: 400px;
  width: 100%;
  background-color: #DBE3F5;
}
.product .slider .pagination {
  padding: 10px 0;
}
.product .slider .pagination .pag-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
.product .slider .pagination .pag-ul .pag-li {
  list-style: none;
}
.product .slider hr {
  border: 1px solid #DBE3F5;
  width: 100%;
}
.product .container {
  padding: 0 25px;
}
.product .container .margin-div {
  margin-top: 20px;
}
.product .container .content .top-content .title-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .container .content .top-content .title-heart .product-title {
  font-weight: 700;
}
.product .container .content .top-content .title-heart .heart {
  height: 50px;
  width: 50px;
  border: 1px solid #DBE3F5;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .container .content .top-content .title-heart .heart .heart-svg {
  width: 26px;
  height: 26px;
}
.product .container .content .top-content .stars {
  font-size: 16px;
  margin-top: 5px;
}
.product .container .content .top-content .stars i {
  color: #ffbe00;
}
.product .container .content .top-content .adding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .container .content .top-content .adding .price {
  font-size: x-large;
  font-weight: 500;
}
.product .container .content .top-content .adding .multiplyer {
  height: 30px;
  width: 70px;
  border: 1px solid #DBE3F5;
  border-radius: 40px;
  text-align: center;
}
.product .container .content .size-section .size-title {
  font-size: 16px;
  font-weight: 700;
}
.product .container .content .size-section .size-ul {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  padding: 0;
}
.product .container .content .size-section .size-ul .size-li {
  list-style: none;
  height: 50px;
  width: 50px;
  border: 1px solid #DBE3F5;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .container .content .size-section .size-ul .size-li:hover, .product .container .content .size-section .size-ul .size-li.active {
  background-color: #DBE3F5;
}
.product .container .content .size-section .size-ul .size-li .size-letter {
  font-size: 13px;
  font-weight: 700;
}
.product .container .content .color-section {
  display: flex;
  gap: 35px;
  align-items: center;
}
.product .container .content .color-section h5 {
  font-size: 16px;
  font-weight: 700;
}
.product .container .content .color-section .list-colors {
  display: flex;
  gap: 15px;
}
.product .container .content .color-section .list-colors .color {
  height: 35px;
  width: 35px;
  border-radius: 40px;
  text-align: center;
}
.product .container .content .color-section .list-colors .color:hover {
  outline: 5px solid #DBE3F5;
}
.product .container .content .color-section .list-colors .red {
  background-color: red;
}
.product .container .content .color-section .list-colors .blue {
  background-color: blue;
}
.product .container .content .color-section .list-colors .brown {
  background-color: beige;
}
.product .container .content .color-section .list-colors .green {
  background-color: green;
}
.product .container .content .color-section .list-colors .black {
  background-color: black;
}
.product .container .content .description-section .description-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
}
.product .container .content .description-section .description-text {
  font-size: 16px;
}
.product .container .buy-btn {
  width: 100%;
}

#menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 350px 0 15px rgba(0, 0, 0, 0.6);
}
#menu h2 {
  color: white;
  font-size: 45px;
  margin-left: 20px;
}
#menu .menuOption {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 20px;
  color: #B3B9C7;
  margin: 40px;
}
#menu .menuOption .circle {
  height: 60px;
  width: 60px;
  border: 1px solid #DBE3F5;
  border-radius: 40px;
  text-align: center;
  align-content: center;
}
#menu .menuOption .circle i {
  font-size: xx-large;
  color: white;
}
#menu .menuOption a {
  margin-left: 20px;
  font-size: x-large;
  text-decoration: none;
  color: #B3B9C7;
}
#menu .trackingOrder {
  margin-left: 30px;
  position: relative;
  top: 150px;
}
#menu .trackingOrder h3 {
  color: #B3B9C7;
  font-size: x-large;
}
#menu .trackingOrder .order-fieldset {
  display: flex;
  justify-content: center;
  border: 1px solid #B3B9C7;
  border-radius: 40px;
  width: 600px;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#menu .trackingOrder .order-fieldset legend {
  font-weight: bold;
  padding: 0 10px;
  font-size: large;
  color: #B3B9C7;
}
#menu .trackingOrder .order-fieldset .order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
#menu .trackingOrder .order-fieldset .order-container input[type=text] {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 26px;
  outline: none;
  color: white;
  width: 550px;
  height: 40px;
}
#menu .trackingOrder .order-fieldset .order-container input[type=text]::placeholder {
  color: #B3B9C7;
}
#menu .trackingOrder .order-fieldset .order-container button {
  background-color: #B3B9C7;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 26px;
  cursor: pointer;
}
#menu .trackingOrder .order-fieldset .order-container button i {
  color: black;
}
#menu button:hover {
  background-color: #0056b3;
}

#menu a:hover {
  color: #f1f1f1;
}

#menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.order-history .container .list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--color-gray-400);
  padding-bottom: 2px;
}
.order-history .container .list .order {
  background-color: var(--color-white);
  height: fit-content;
}
.order-history .container .list .order:hover {
  text-decoration: none;
  cursor: pointer;
}
.order-history .container .list .order .info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 12px 24px;
  z-index: 1000;
}
.order-history .container .list .order .info .status.Delivered {
  color: var(--color-green);
}
.order-history .container .list .order .info .status.Shipping {
  color: var(--color-yellow);
}
.order-history .container .list .order .info .status.Canceled {
  color: var(--color-red);
}
.order-history .container .list .order .info .date {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 150% !important;
  font-size: 0.875em;
}
.order-history .container .list .order .info .price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-standard);
  line-height: 150% !important;
  font-size: 0.875em;
  font-weight: 800;
  color: var(--color-black);
}
.order-history .container .list .order .order-details {
  background-color: var(--color-gray-100);
  transform-origin: top;
  max-height: 0px;
  border-left: solid 2px var(--color-gray-100);
  border-right: solid 2px var(--color-gray-100);
  transition: max-height 0.1s;
  overflow-y: hidden;
}
.order-history .container .list .order .order-details.visible {
  max-height: 200px;
  transition: max-height 0.1s;
}
.order-history .container .list .order .order-details .info {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
  max-height: 150px;
  border-radius: 13px;
}
.order-history .container .list .order .order-details .info::-webkit-scrollbar {
  background-color: var(--color-gray-400);
  border-radius: 999px;
}
.order-history .container .list .order .order-details .info::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-700);
  border-radius: 999px;
}
.order-history .container .list .order .order-details .info .title {
  background-color: var(--color-gray-100);
}
.order-history .container .list .order .order-details .options {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.order-history .container .list .order .order-details .options .repeat {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}
.order-history .container .list .order .order-details .options .review {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}
