<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/e83f67faa0.css" crossorigin="anonymous">
</head>
<body>

    <div class="wrapper">
        <main>
            @RenderBody()
        </main>
    </div>
    

</body>
</html>
