<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manero</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/e83f67faa0.css" crossorigin="anonymous">
</head>
<body>

    <div class="wrapper">
        <main>
            @RenderBody()
        </main>

        @if (Context.Request.Path != "/")
        {
            <partial name="~/Views/Sections/_Navigation.cshtml" />
        }
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/site.js" ></script>
</body>
</html>
