@{
}

<section class="contact">
    <div id="menu" class="menu">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
        <h2>Contact us</h2>
        <div class="menuOption">
            <div class="circle"> <i class="fa-light fa-location-dot"></i> </div>
            <a href="#">
                27 Division St, New York,
                NY 10002, USA
            </a>
        </div>
        <hr>
        <div class="menuOption">
            <div class="circle"> <i class="fa-sharp fa-regular fa-envelope"></i> </div>
            <a href="#">manerosupport@mail.com</a>
        </div>
        <hr>
        <div class="menuOption">
            <div class="circle"> <i class="fa-light fa-phone-volume"></i> </div>
            <a href="#">+17 987654321</a>
        </div>
        <hr>
        <div class="trackingOrder">
            <h3>Track your order</h3>
            <fieldset class="order-fieldset">
                <legend>ORDER NUMBER</legend>
                <div class="order-container">
                    <input type="text" id="order-number" name="order-number" placeholder="Enter your order number">
                    <button type="button" onclick="submitOrderNumber()"><i class="fa-regular fa-arrow-right"></i></button>
                </div>
            </fieldset>
        </div>

    </div>

    <div id="main">
        <button class="openbtn" onclick="toggleNav()">☰ Öppna Meny</button>
    </div>
</section>


<script>

    let menuOpen = false;

    function toggleNav() {
        if (menuOpen) {
            closeNav();
        } else {
            openNav();
        }
        menuOpen = !menuOpen;
    }

    function openNav() {
        document.getElementById("menu").style.width = "75%";
        document.getElementById("main").style.marginLeft = "75%";
    }

    function closeNav() {
        document.getElementById("menu").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>