@model Frontend.ViewModels.ProductViewModel
<partial name="~/Views/Contact/ContactMenu.cshtml" />

<section class="category-boxes">
     @if (Model.Categories != null )
        {

        <div class="section-small">
            <a asp-action="Products" asp-controller="Products" asp-route-category="Dresses">
                <div class="box-small"> <h3 class="categoryName">Dresses</h3></div>
            </a>

            <a asp-action="Products" asp-controller="Products" asp-route-category="Pants">
                <div class="box-small"> <h3 class="categoryName">Pants</h3></div>
            </a>
        </div>

        <div class="sections-large">
            <a asp-action="Products" asp-controller="Products" asp-route-category="Accessories">
                <div class="box-large"> <h3 class="categoryName">Accessories</h3></div>
            </a>
        </div>

        <div class="section-small">
            <a asp-action="Products" asp-controller="Products" asp-route-category="Shoes">
                <div class="box-small"> <h3 class="categoryName">Shoes</h3></div>
            </a>
            <a asp-action="Products" asp-controller="Products" asp-route-category="T-shirts">
                <div class="box-small"> <h3 class="categoryName">T-Shirt</h3></div>
            </a>
        </div>

        }
</section>