@model Frontend.ViewModels.ProductViewModel

<div class="feature-card">
    @if (Model.Products != null)
    {
        @foreach (var product in Model.Products)
        {
            <a class="product" asp-action="SingleProduct" asp-controller="Products" asp-route-id="@product.BatchNumber">
                <div class="card-img">
                    <img src="@product.ThumbnailImage" alt="@product.ProductName" />
                    <div class="bag-heart">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-bag-shopping"></i>
                    </div>
                </div>
                <div class="card-info">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h5 class="product-title">@product.ProductName</h5>
                </div>
            </a>
        }
    }
</div>