@model ProductList 
<section class="homepage">
    <div class="container">
        <div class="header">
            <button class="btn btn-menu"><i class="fa-solid fa-bars"></i></button>
            <img src="/images/logo.svg" alt="">
            <div class="total-cost">
                <i class="fa-regular fa-bag-shopping"></i>
                <span class="price" id="total-cost">$0</span>
            </div>
        </div>
        <div class="bag-shop">
            <div class="products" id="product-container">
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide circle">Man</div>
                <div class="swiper-slide circle"> woman</div>
                <div class="swiper-slide circle">Kids</div>
                <div class="swiper-slide circle">Sport</div>
                <div class="swiper-slide circle">Freetime</div>
                <div class="swiper-slide circle">V</div>
                <div class="swiper-slide circle">B</div>
                <div class="swiper-slide circle">W</div>
            </div>
        </div>
        <div class="content">
            <div class="promotion">
                <h2>Take 50% off!</h2>
            </div>
            <a class="btn btn-white" href="#">Shop Now</a>
        </div>
        <div class="features">
            <div class="feature-header">
                <h3>Featured products</h3>
                <a class="viewall">view all <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="feature-content">
                @for (var i = 0; i < 4; i++)
                {
                    <div class="feature-card">
                        <div class="card-img">
                            <img src="@Model.Features[i].ImgUrl" alt="Alternate Text" />
                            <div class="bag-heart">
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-bag-shopping"></i>
                            </div>
                        </div>
                        <div class="card-info">
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>@Model.Features[i].ProductName</p>
                            <p>$@Model.Features[i].OriginalPrice</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="bestseller-header">
            <h3>Best seller</h3>
            <a>view all <i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="bestseller-content">
            @for (var i = 0; i < 4; i++)
            {
                <div class="bestseller-card">
                    <div class="bestseller-img">
                        <img src="@Model.Bestsellers[i].ImgUrl" alt="Alternate Text" />

                    </div>
                    <div class="bestseller-feature">
                        <div class="bestseller-info">
                            <p>@Model.Bestsellers[i].ProductName</p>
                            <p>$@Model.Bestsellers[i].OriginalPrice</p>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="bestseller-heart">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            } 
        </div>
        <div class="footer">
        </div>
    </div>
</section>