<section class="homepage">
    <div class="container">
        <div class="header">
            <button class="btn btn-menu"><i class="fa-solid fa-bars"></i></button>
            <img src="/images/logo.svg" alt="">
            <div class="total-cost">
                <i class="fa-regular fa-bag-shopping"></i>
                <span class="price" id="total-cost">$0</span>
            </div>
        </div>
        <div class="bag-shop">
            <div class="products" id="product-container">
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide circle">Man</div>
                <div class="swiper-slide circle"> woman</div>
                <div class="swiper-slide circle">Kids</div>
                <div class="swiper-slide circle">Sport</div>
                <div class="swiper-slide circle">Freetime</div>
                <div class="swiper-slide circle">V</div>
                <div class="swiper-slide circle">B</div>
                <div class="swiper-slide circle">W</div>
            </div>
        </div>
        <div class="content">
            <div class="promotion">
                <h2>Take 50% off!</h2>
            </div>
            <a class="btn btn-white" href="#">Shop Now</a>
        </div>
        <div class="features">
            <div class="feature-header">
                <h3>Featured products</h3>
                <a class="viewall">view all <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="feature-content">
                <div class="feature-card">
                    <div class="card-img">
                        <div class="bag-heart">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-bag-shopping"></i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Summer pants</p>
                        <p>$31.78</p>
                    </div>
                </div>
                <div class="feature-card">
                    <div class="card-img">
                        <img src="" alt="" />
                        <div class="bag-heart">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-bag-shopping"></i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Summer pants</p>
                        <p>$31.78</p>
                    </div>
                </div>
                <div class="feature-card">
                    <div class="card-img">
                        <div class="bag-heart">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-bag-shopping"></i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Summer pants</p>
                        <p>$31.78</p>
                    </div>
                </div>
                <div class="feature-card">
                    <div class="card-img">
                        <div class="bag-heart">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-bag-shopping"></i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Summer pants</p>
                        <p>$31.78</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bestseller-header">
            <h3>Best seller</h3>
            <a>view all <i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="bestseller-content">
            <div class="bestseller-card">
                <div class="bestseller-img">
                </div>
                <div class="bestseller-feature">
                    <div class="bestseller-info">
                        <p>Hand bag</p>
                        <p>$24.95</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="bestseller-heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <div class="bestseller-card">
                <div class="bestseller-img">
                </div>
                <div class="bestseller-feature">
                    <div class="bestseller-info">
                        <p>Hand bag</p>
                        <p>$24.95</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="bestseller-heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <div class="bestseller-card">
                <div class="bestseller-img">
                </div>
                <div class="bestseller-feature">
                    <div class="bestseller-info">
                        <p>Hand bag</p>
                        <p>$24.95</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="bestseller-heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
</section>