.add-address-page {
    margin-top: 96px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .form {
            display: flex;
            flex-direction: column;
            gap: 18px;

            button {
                padding: 16px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .cancel {
            .cancel-button {
                border: solid 1px var(--color-gray-800);
                color: var(--color-black);

                &:hover {
                    background-color: var(--color-gray-800);
                    color: var(--color-white);
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}