.addcardpage .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.newcard-img {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    gap: 10px;
    padding-top: 10px;
}

.card-form {
    width: 300px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cardholder" "cardnumber" "expirydate""cvv" "button";
}

@media (min-width: 992px) {
    .card-form {
        width: 650px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "cardholder cardholder" "cardnumber cardnumber" "expirydate cvv" "button button";
    }
}

.form-cardholder {
    grid-area: cardholder;
}

.form-cardnumber {
    grid-area: cardnumber;
}

.form-expirydate {
    grid-area: expirydate;
}

.form-cvv {
    grid-area: cvv;
}

button {
    grid-area: button;
}

.hidden {
    display: none;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid green;
    background-color: #e0ffe0;
    color: green;
}

.error {
    border: 1px solid red;
    background-color: #ffe0e0;
    color: red;
}
