.edit-account {
    .container {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 32px;

        .profile-img {
            position: relative;
            display: flex;
            align-self: end;
            justify-self: center;
            align-content: center;
            height: 182px;
            width: 182px;
            border: solid 8px var(--color-light-gray);
            border-radius: 100%;
            margin-top: 91px;

            .edit {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 0;
                right: 0;
                align-items: center;
                padding: 25px;
                height: 18px;
                width: 18px;
                border-radius: 100%;
                background-color: var(--color-light-gray);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 18px;

            button {
                padding: 16px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
