.profile-page {



    .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 25px;

        .profile {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 24px;
            padding: 40px 0;

            .profile-img {
                position: relative;
                display: flex;
                align-self: end;
                justify-self: center;
                align-content: center;
                height: 182px;
                width: 182px;
                border: solid 8px var(--color-light-gray);
                border-radius: 100%;

                .edit {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    align-items: center;
                    padding: 25px;
                    height: 18px;
                    width: 18px;
                    border-radius: 100%;
                    background-color: var(--color-light-gray);


                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .profile-info {
                align-self: end;
                text-align: center;
            }
        }

        .list {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            background-color: var(--color-light-gray);
            gap: 1px;
            padding: 1px 0;

            .option {
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                padding: 10px 12px;
                background-color: var(--color-white);

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-gray-100);
                    text-decoration: none;
                }

                .content {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    gap: 18px;

                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: solid 1px var(--color-light-gray);
                        height: 18px;
                        width: 18px;
                        padding: 25px;
                        border-radius: 100%;
                    }

                    h5 {
                        margin: 0;
                    }
                }

                .chevron {
                    justify-self: end;
                }
            }
        }
    }
}
