.reset-password {

    .container {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        padding: 20px 0;
        gap: 20px;

        .top-nav {
            display: grid;
            width: 100%;
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "back title void";


            i {
                display: flex;
                grid-area: back;
                align-items: center;
                justify-content: flex-start;
            }

            h4 {
                display: flex;
                grid-area: title;
                align-items: center;
                justify-content: center;
            }
        }

        .reset-form {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "new" "confirm" "button";
            gap: 10px;

            .form-new {
                grid-area: new;
            }

            .form-confirm {
                grid-area: confirm;
            }

            button {
                grid-area: button;
            }
        }
    }
}
