.signup {
    .container {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        padding: 20px 0;

        .top-nav {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "back title void";


            i {
                display: flex;
                grid-area: back;
                align-items: center;
                justify-content: flex-start;
            }

            h4 {
                display: flex;
                grid-area: title;
                align-items: center;
                justify-content: center;
            }
        }

        h1 {
            padding-top: 50px;
            padding-bottom: 15px;
        }

        .signup-form {
            width: 300px;
            gap: 20px;
            grid-template-columns: 1fr;
            grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "button";

            @media (min-width: 992px) {
                width: 650px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "button button";
            }

            .form-firstname {
                grid-area: firstname;
            }

            .form-lastname {
                grid-area: lastname;
            }

            .form-email {
                grid-area: email;
            }

            .form-password {
                grid-area: password;
            }

            .form-confirm {
                grid-area: confirm;
            }

            button {
                grid-area: button;
            }
        }

        .have-account {
            color: var(--color-text);

            a {
                color: var(--color-main);
            }
        }

        .socials {
            display: flex;
            gap: 20px;

            .facebook {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 1px solid var(--color-light-gray);
                border-radius: 50%;
                text-decoration: none;

                i {
                    color: var(--color-blue);
                }

                &:hover,
                &:active,
                &:focus,
                .active {
                    text-decoration: none;
                }
            }

            .twitter {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 1px solid var(--color-light-gray);
                border-radius: 50%;
                text-decoration: none;

                i {
                    color: var(--color-light-blue);
                }

                &:hover,
                &:active,
                &:focus,
                .active {
                    text-decoration: none;
                }
            }

            .google {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 1px solid var(--color-light-gray);
                border-radius: 50%;
                text-decoration: none;

                i {
                    color: var(--color-red);
                }

                &:hover,
                &:active,
                &:focus,
                .active {
                    text-decoration: none;
                }
            }
        }
    }
}
