<section class="cartpage">
    <div class="container">
        <div class="cart-header">
            <i class="fa-solid fa-chevron-left"></i></a>
            <h5>Payment method</h5>
        </div>
        <div class="sub-header">
            <h6>Cards</h6>
            <h6 id="add-card">Add a new card</h6>
            <i class="fas fa-plus-circle plus-icon"></i>
        </div>
        <div class="cart-img">
            <img src="/images/card 1.svg" alt="">
            <img src="/images/card 2.svg" alt="">
        </div>
        <div class="payment">
            <div class="Applepay">
                <h6>Apple Pay <i class="fas fa-check check-icon"></i></h6>
            </div>
            <div class="edit-icon">
                <i class="fas fa-pencil-alt"></i>
            </div>
        </div>
        <div class="payment">
            <div class="pay-pal">
                <h6>PayPal <i class="fas fa-check check-icon"></i></h6>
            </div>
            <div class="edit-icon">
                <i class="fas fa-pencil-alt"></i>
            </div>
        </div>
        <div class="payment">
            <div class="payoneer">
                <h6>Payoneer</h6>
            </div>
            <div class="edit-icon">
                <i class="fas fa-plus-circle plus-icon"></i>
            </div>
        </div>
    </div>
</section>