<section class="navigation">
        <div class="container">
            <nav class="nav-links">
            <a class="nav-link" asp-action="Home" asp-controller="Default"><i class="fa-regular fa-house"></i></a>
            <a class="nav-link" asp-action="Category" asp-controller="Products"><i class="fa-regular fa-magnifying-glass"></i></a>
            <a class="nav-link" asp-action="Cart" asp-controller="Cart"><i class="fa-regular fa-bag-shopping"></i></a>
            <a class="nav-link" asp-action="Wishlist" asp-controller="Wishlist" ><i class="fa-regular fa-heart"></i></a>
            <a class="nav-link" asp-action="Index" asp-controller="Profile"><i class="fa-regular fa-circle-user"></i></a>
            </nav>
        </div>
</section>