<section class="navigation">
        <div class="container">
            <nav class="nav-links">
            <a class="nav-link" asp-action="Home"><i class="fa-regular fa-house"></i></a>
            <a class="nav-link" asp-action="Search"><i class="fa-regular fa-magnifying-glass"></i></a>
            <a class="nav-link" asp-action="Cart"><i class="fa-regular fa-bag-shopping"></i></a>
            <a class="nav-link" asp-action="Likes"><i class="fa-regular fa-heart"></i></a>
            <a class="nav-link" asp-action="Account"><i class="fa-regular fa-circle-user"></i></a>
            </nav>
        </div>
</section>