<section class="navigation">
        <div class="container">
            <nav class="nav-links">
            <a class="nav-link" asp-action="Home"><img class="nav-icon" src="~/images/icons/home.svg#img" /></a>
            <a class="nav-link" asp-action="Search"><img class="nav-icon" src="~/images/icons/search.svg#img" /></a>
            <a class="nav-link" asp-action="Cart"><img class="nav-icon" src="~/images/icons/bag.svg#img" /></a>
            <a class="nav-link" asp-action="Likes"><img class="nav-icon" src="~/images/icons/heart.svg#img" /></a>
            <a class="nav-link" asp-action="Account"><img class="nav-icon" src="~/images/icons/user.svg#img" /></a>
            </nav>
        </div>
</section>