@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}
<section class="forgotpassword">
    <div class="container">
        <div class="top-nav">
            <i class="fa-solid fa-chevron-left"></i>
            <h4>Forgot Password</h4>
        </div>
        <p>Please enter your email address. You will receive a link to create a new password via email.</p>

        <div class="alert">
            <div class="alert-error">
                @ViewData["StatusMessage"]
            </div>
        </div>

        <form method="post" asp-action="ForgotPassword" asp-controller="ForgotPassword">
            <div class="form-email input-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email">
            </div>
            <button class="btn btn-main" type="submit">SEND</button>
        </form>
    </div>
</section>