@model ResetForgotPasswordViewModel

@{
    ViewData["Title"] = "Reset Forgot Password";
}

<section class="reset-password">
    <div class="container">
        <div class="top-nav">
            <i class="fa-solid fa-chevron-left"></i>
            <h4>Reset Password</h4>
        </div>
        <p class="font-16">Enter new password and confirm.</p>
        <form class="reset-form" method="post" asp-action="ResetPassword" asp-controller="ForgotPassword" >
            <div class="form-new input-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-confirm input-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <button class="btn btn-main" type="submit">CHANGE PASSWORD</button>
        </form>
    </div>
</section>