<section class="accountcreated">
    <div class="container">
        <div class="top-nav">
            <img src="./images/logo.svg" alt="">
        </div>
        <div class="createduser-img">
            <img src="./images/createduser-img.svg" alt="">
        </div>
        <div class="text-content">
            <h4>Account Created!</h4>

            <p class="font-16">Your account has beed created successfully.</p>
        </div>

        <a asp-action="Home" asp-controller="Default" class="btn btn-main">SHOP NOW</a>

    </div>

</section>
