
<section class="wishlist">
    <div class="container">
        <div class="header">
            <button class="btn btn-menu"><i class="fa-solid fa-bars"></i></button>
            <p class="header-wish">Wishlist</p>
            <div class="total-cost"> <span id="total-cost">$0</span></div>
            <i class="fa-regular fa-bag-shopping"></i>
        </div>
        <div class="wishlist-content">
            
            {
                <div class="wishlist-card">
                    <div class="wishlist-img">
                        
                    </div>
                    <div class="wishlist-feature">
                        <div class="wishlist-info">
                            <p>Sunmar dress</p>
                            <p>$24.95</p>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wishlist-heart">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-bag-shopping"></i>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>
</section>